.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--fallback-b3,oklch(var(--b3)/1));
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarStart {
  font-weight: bold;
  color: var(--fallback-p,oklch(var(--p)/1));
  font-size: 1.125rem;
}

.navbarEnd {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}


